/* ALL the general setting of the webpage */
body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
}

.container {
  width: 1100px;
}

.content {
  display: flex;
}

/* HEADER that is divide between the menu and the banner */

header {
  display: flex;
  position: relative;
  justify-content: space-between;
  background-image: url("../images/bannerBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.banner {
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.menu ul {
  display: flex;
}
.mainMenu a, .loginMenu a {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem;
}

.mainMenu a {
  color: black;
  transition: all 0.2s ease;
}

.loginMenu a {
  color: white;
  background-color: #00a9f5;
  padding: 1rem 2rem;
  border-radius: 2rem;
  transition: all 0.2s ease;
}

.loginMenu a i {
  padding: 0 0.5rem;
}

.loginMenu a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.mainMenu a:hover {
  text-decoration: none;
  color: #00a9f5;
}

header h1 {
  margin-top: 7rem;
  color: #00a9f5;
  font-weight: 600;
  font-size: 5rem;
}

.h2block {
  z-index: 100;
  width: 30rem;
  position: absolute;
  bottom: -1.5rem;
}

header h2 {
  color:white;
  font-weight: 500;
  font-size: 3.5rem;
  background-color: #00a9f5;
  text-align: center;
  padding: 2rem;
  margin-bottom: 0;
}

.h2block img {
  display: flex;
  margin: 0 auto;
  height: 1.5rem;
}
/* SELECTOR that is implemented in the google optimizer after*/

.selector {
  position: relative;
  width: 700px;
  padding: 2rem;
  border: 1px solid #f0f0f0;
}

.draggable {
  position: absolute;
  padding: 0 3rem;
}

.selector .title {
  padding: 0 3rem;
  color: #243d51;
}

.selector .line {
  padding: 3rem 3rem;
}

.selector .line img {
  width: 600px;
}

.selector .legend {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
}

#krd {
  font-size: 1.8rem;
  display: flex;
  cursor: move;
  justify-content: center;
  width: 3rem;
  padding: 1rem 2rem;
  border-radius: 6rem;
  background-color: #00a9f5;
  color: white;
}
/* FORM that is implemented in the google optimizer after*/

.form {
  position: relative;
  top: -1px;
  width: 700px;
  padding: 2rem;
  border: 1px solid #f0f0f0;
}

.formTitle{
  text-align: center;
  padding-bottom: 1rem;
  font-size: 0.8rem;
}

.formContainer {
  display: flex;
  justify-content: center;
}

.formColumn {
  display: flex;
  flex-direction: column;
}

.formIntput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30rem;
  border: 1px solid #dedede;
  border-radius: 0.5rem;
  padding: 0.8rem;
  margin: 1rem;
}

.formIntput input {
  border: none;
}

textarea:focus, input:focus{
  outline: none;
}

.formIntput i, .formCheck i {
  color: #dedede;
}

.formCheck {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
}

.formCheck label {
  font-size: 1.3rem;
  padding: 1rem;
}

.formCheck [type="checkbox"]:not(:checked),
.formCheck [type="checkbox"]:checked {
  display: none;
}

.formCheck [type="checkbox"]:not(:checked) + label,
.formCheck [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

.formCheck [type="checkbox"]:not(:checked) + label:before,
.formCheck [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 1rem;
  width: 20px; height: 20px;
  border: 1px solid #c5c5c5;
  border-radius: 3px;
}

.formCheck [type="checkbox"]:not(:checked) + label:after,
.formCheck [type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  left:0.5rem; top: 1rem;
  font-size: 14px;
  color: #00a9f5;
  transition: all .2s;
}

.formCheck [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

.formCheck [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

.formText a, .formText2 a {
  color: #00a9f5;
  font-size: 1.3rem;
  padding: 6rem;
}

.formText2  {
  padding-top: 3rem;
  padding-bottom: 6rem;
  text-align: center;
}

.formCTA {
  color: white;
  text-align: center;
  font-size: 3rem;
  padding-top: 6rem;
}

.formCTA input {
  border: none;
  background-color: #00a9f5;
  border-radius: 4rem;
  padding: 1rem 9rem;
  transition: all 0.3s ease;
}

.formCTA input:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* SIDEBAR the blue top text */
.sidebar {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.bluebox {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #00a9f5;
  height: 215px;
  text-align: center;
  color: white;
}

.bluebox h3 {
  font-size: 3rem;
  text-transform: uppercase;
}

.bluebox h2 {
  font-size: 6rem;
  margin-top: 0;
}

.bluebox img {
  position: absolute;
  left: -2rem;
}
/* SIDEBAR the grey text */

.textbox, .contact, .faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f8f8f8;
  border-bottom: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  padding: 0 5rem;
  font-weight: 700;
  line-height: 2.5rem;
}

.textbox, .contact {
  height: 215px;
}

.faq {
  height: 252px;
  padding-right: 3rem;
}

.contact h3, .faq h3 {
  font-size: 2rem;
  color: #00a9f5;
  padding: 1rem 0;
  margin-top: 0;
}

.contact p {
  line-height: 1.5rem;
  color: #66686a;
}

.contact i {
  padding-right: 1rem;
  color: #a4a4a4;
}

.faq li {
  padding: 0.7rem 0;
  color: #66686a;
}

.faq span {
  padding: 0.3rem 1rem;
  background-color: #00a9f5;
  color: white;
  border-radius: 3rem;
}

/* PARTNERS here a small configuration for the partner container */

.partner {
  display: flex;
  justify-content: space-around;
  padding: 5rem 0;
}

/* SubFooter here a small configuration for the subfooter container */

.SubFooter {
  display: flex;
  position: relative;
  justify-content: space-between;
  background-image: url("../images/footerBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.subFooterContainer {
  display: flex;
}

.textblock {
  padding: 4rem;
  width: 400px;
}

.textblock h3 {
  color: #00a9f5;
  font-size: 1.7rem;
  font-weight: 700;
  padding-bottom: 1rem;
}

.textblock a {
  color: #00a9f5;
}

/* FOOTER the real footer configuration*/

.footer1 {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
}

.adress {
  font-size: 1.2rem;
  width: 300px;
}

.adress h4, .medias h4 {
  font-size: 1.2rem;
  font-weight: 700;
}

.medias {
  font-size: 1.2rem;
  text-align: right;
}

.medias h4 i {
  color: #00a9f5;
  margin: 0;
  background-color: white;
  padding: 0 1rem;
}

.medias i {
  width: 3.1rem;
  padding: 1rem;
  margin: 0 1rem;
  border-radius: 3rem;
  color: white;
  background-color: #aaabab;
}

.footer2 {
  text-align: center;
  padding: 3rem 14rem;
}

.footer2 a:before {
  content: "- "
}

.copyrights {
  padding-top: 3rem;
  color: #aaabab;
  font-size: 1rem;
}
/* MEDIA */
