/* ALL the general setting of the webpage */
body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
}

.container {
  width: 1200px;
}

/* HEADER that is divide between the menu and the banner */

header {
  background-image: url("../images/bannerBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

.menu ul {
  display: flex;
}
.mainMenu a, .loginMenu a {
  font-size: 1,5rem;
  font-weight: 600;
  margin: 1rem;
}

.mainMenu a {
  color: black;
}

.loginMenu a {
  color: white;
  background-color: #00a9f5;
  padding: 1rem 2rem;
  border-radius: 2rem;
}

/* CONTENT */


/* FOOTER */


/* MEDIA */
